@import 'tailwindcss';

:root {
  --font-inter: 'Inter', sans-serif;
  --font-lato: 'Lato', sans-serif;
}

body {
  font-family: var(--font-inter);
  scroll-behavior: smooth;
  @apply  text-white bg-slate-950 overflow-x-hidden;
}

@theme {
  --color-brand-light: #C350F9;
  --color-brand-darker: #5709BB;
  --color-brand-100: #C979EE;
  --color-brand-200: #7440B6;

  --color-red: #ff7474;
  --color-error: #b80000;
  --color-green: #3dd9b3;
  --color-blue: #56b8ff;
  --color-pink: #eea8fd;
  --color-orange: #f9ab72;

  --color-light-100: #333f4e;
  --color-light-200: #a3b2c7;
  --color-light-300: #f2f5f9;
  --color-light-400: #f2f4f8;

  --color-dark: #1E1E1E;
  --color-dark-100: #010101;
}

@theme fontes {
  --font-inter: 'Inter', sans-serif;
  --font-lato: 'Lato', sans-serif;
}